<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LEARNING_SAVE_IMAGE_IN_DATABASE.Properties.Settings.SchoolConnectionString"
            connectionString="Data Source=DESKTOP2\HOLOO;Initial Catalog=School;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>